{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Activation required</title>
{% endblock %}

{% block css %}

{% endblock %}

{% block content %}
<div style="padding-top: 10% ;" class="container" id="Modal-SignIn" tabindex="-1" role="dialog">
  <div class="dialog" role="document">
    <div class="content">
      <div class="header">
      </div>
      <div class="body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                
                <h2>Please, confirm your account by clicking the link sent to your email address!</h2>
                
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}