{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Password reset</title>
{% endblock %}

{% block css %}

{% endblock %}

{% block content %}
<div style="padding-top: 10% ;" class="container" id="Modal-SignIn" tabindex="-1" role="dialog">
  <div class="dialog" role="document">
    <div class="content">
      <div class="header">
      </div>
      <div class="body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              <h2 class="title text-center">Set a new password.</h2>
              <br>

            <form class="form-group" action="" method="post">
				{% csrf_token %}
				<!-- <input type="text" name="username" value="" placeholder="Username" required="" class="form-control" />
				<br>
				<input type="password" name="password" value="" placeholder="Password" required="" class="form-control" />
				<br> -->

				{{form.as_p}}
				<br>

				<button type="submit" class="btn btn-primary">Submit</button>
				
            </form>
            <br>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}