{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Password reset</title>
{% endblock %}

{% block css %}

{% endblock %}

{% block content %}
<div style="padding-top: 10% ;" class="container" id="Modal-SignIn" tabindex="-1" role="dialog">
  <div class="dialog" role="document">
    <div class="content">
      <div class="header">
      </div>
      <div class="body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              <h2 class="title text-center">Password reset complete.</h2>
              <br>
                <p>You may log in now with the new password.</p>
                <br>
                <a href="{% url 'login' %}">Log in</a>

              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}